body {
    background-color: #FCFAF2;
    font-family: 'Varela Round';
}

img {
max-width: 100%;

}

h3 {
    font-size: 20px;
    color: #ffffff;
}

.section {

}

.section1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
/*    background-color: #3f95b2;*/
    background: linear-gradient(#1794b1 70%, transparent 30%);
    
}

.section1 .text-wrapper {
  width: 100%;
  text-align: right;
}

.section1-text {
    padding: 20px;
    top: 0px;
    right: 0px;
    max-width: 400px;
    margin-left: auto;
}

.section1-text h3 {
    width: 100%;
    text-align: right;
}

.section1-text span {
    text-align: right;
    display: block;
    color: #e6e6e6;
    font-size: 13px;
}

.section1 .social .fa{
  color:#ffffff;
  padding-left: 20px;
}

.section1 .social a {
    width: 30px;
    height: 30px;
    text-decoration: none;
}

/*.section1 button {
  height: 30px;
  border-radius: 7px;
  border: 0;
  background-color: #EEECE7;
  color: #1494B2;
}*/

::-webkit-input-placeholder {
    color: white;
    font-family: 'Varela Round';
}

.section1 .singup1 {
  width: 100%;
  text-align: right;
/*  top: 10%;*/
  position: absolute;
/*  padding-top: 100px;*/
}

.section1 .singup1 input {
  height: 30px;
  width: 250px;
  border-radius: 7px;
  border: 0;
  background-color: #EEECE7;
  padding: 7px;
  font-size: 14px;
/*  padding-left: 20px;*/
  font-family: 'Varela Round';
  color: #1494B2;
}

.social {
    display: block;
    width: 100%;
    padding-top: 100px;
}


.section2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.section2 .title_sec2 {
/*    width: 200px;*/
    font-size: 18px;
    position: absolute;
    top: 50px;
/*    left: 50%;*/
    text-align: center;
    color: #808080;
/*    margin-left: 50px;*/
    font-variant: small-caps;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.section2 .text_sec2 {
    max-width: 500px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;

    position: absolute;
    top: 100px;
    color: #CCCCCC;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.section2 .user{
    position: absolute;
    top:300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.section3 .title_sec3{

font-size: 18px;
    position: absolute;
    top: 50px;
/*    left: 50%;*/
    text-align: center;
    color: #808080;
/*    margin-left: 50px;*/
    font-variant: small-caps;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.section3 .text_sec3 {
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    position: absolute;
    top: 100px;
    color: #CCCCCC;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.section3 .phones_sec3{
    position: absolute;
    top:180px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.section4 {
    background-image: url(../img/bluebluebunny.png);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.social {
    display: block;
    width: 100%;
    padding-top: 20px;
}

.social span {
    width: 30px;
    height: 30px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
}

.section4 button {
  height: 30px;
  border-radius: 7px;
  border: 0;
  background-color: #EEECE7;
  color: #1494B2;
}

::-webkit-input-placeholder {
    color: #CCCCCC;
}

.section4 .singup {
  width: 100%;
  text-align: center;
  top: 50%;
  position: absolute;
  padding-top: 120px;
}

.section4 .singup input {
  height: 30px;
  width: 250px;
  border-radius: 7px;
  border: 0;
  background-color: #EEECE7;
  padding: 7px;
  font-size: 16px;
  padding-left: 20px;
  font-family: 'Varela Round';
  color: #1494B2;
}

.section4 .social .fa{
color: #3f95b2;
padding-left: 20px;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;

}

input:-webkit-autofill {
    background-color: transparent;
}


.section4 a {
    width: 30px;
    height: 30px;
    text-decoration: none;
}

.section4 .copy {
    padding-left: 10px;
    padding-bottom: 10px;
position: absolute;
  color: #CCCCCC;
  font-size: 12px;
  left: 0;
  bottom: 0;
}

.first_phone {
  max-width: 90%;
  max-height: 50%;
  margin-left: 50px;
}

.coming-soon {
  border: 1px solid white;
  padding: 5px;
  border-radius: 8px;
  background: transparent;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.section4 .coming-soon {
  border: 1px solid #1494B2;
  padding: 5px;
  border-radius: 8px;
  background: transparent;
  position: relative;
  color: #1494B2;
  text-decoration: none;
  font-size: 12px;
}


.signup1 {
  text-align: right;
  padding-top: 20px;
}

.section3 {
  
}

.section {
  overflow: hidden;
  position: relative;
}

.section .content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .first_phone {
    max-width: 140%;
    max-height: 50%;
    margin-left: -30px;
  }
}